from enum import Enum
from typing import {% if need_typing.any %}Any, {% endif %}Generic, Optional, {% if need_typing.union %}Union, {% endif %}TypeVar
{% for import in extra_imports -%}
{{import}}
{% endfor -%}

import aiohttp

{% if model_types -%}
from .model import (
{%- for model_type in model_types -%}
    {{model_type}}{% if not loop.last %}, {% endif %}
{%- endfor -%}
, ModelFactory)
{% endif %}

Success = TypeVar('Success')
Error = TypeVar('Error')


class Maybe(Generic[Success, Error]):
    def __init__(self, code: int, success: Optional[Success] = None, error: Optional[Error] = None):
        self.code: int = code
        self.success: Optional[Success] = success
        self.error: Optional[Error] = error


class Surely(Generic[Success]):
    def __init__(self, code: int, success: Success):
        self.code: int = code
        self.success: Success = success


{% for module_name, operations in modules.items() %}
class {{module_name.capitalize()}}Module():
    def __init__(self, session: 'ClientSession', server_url: str):
        self.session: ClientSession = session
        self.server_url: str = server_url

{% for operation in operations %}
    async def {{operation.name}}(self
        {%- if operation.required_arguments or operation.optional_arguments %}, {% endif -%}
        {%- for arg in operation.required_arguments -%}
            {{arg.name}}: {{arg.type}}{% if not loop.last %}, {% endif %}
        {%- endfor -%}
        {%- if operation.required_arguments and operation.optional_arguments %}, {% endif -%}
        {%- for arg in operation.optional_arguments -%}
            {{arg.name}}: Optional[{{arg.type}}] = None{% if not loop.last %}, {% endif %}
        {%- endfor -%}
    ) -> {% if operation.responses_error -%}
             Maybe[{{' | '.join(operation.responses_success.values()) if operation.responses_success else None}}, {{' | '.join(operation.responses_error.values()) if operation.responses_error else None}}]
         {%- else -%}
             Surely[{{' | '.join(operation.responses_success.values()) if operation.responses_success else None}}]
         {%- endif %}:
        url = f'{self.server_url}{{operation.endpoint}}'

        {%- if operation.query_parameters %}
        params = dict(
        {%- for parameter in operation.query_parameters -%}
            {{parameter}}={{parameter}},
        {%- endfor -%}
        )
        params = {k: v.value if isinstance(v, Enum) else v for k, v in params.items() if v is not None}
        {%- endif %}

        async with self.session.{{operation.method}}(url,
        {%- if operation.query_parameters -%}
            params=params,
        {%- endif %}
        {%- if operation.body -%}
            json=body,
        {%- endif -%}
        ) as resp:
            {%- for code, type in operation.responses_success.items() %}
            if resp.status == {{code}}:
                {% if operation.responses_error -%}
                return Maybe[{{' | '.join(operation.responses_success.values()) if operation.responses_success else None}}, {{' | '.join(operation.responses_error.values()) if operation.responses_error else None}}]
                {%- else -%}
                return Surely[{{' | '.join(operation.responses_success.values()) if operation.responses_success else None}}]
                {%- endif -%}
                (code={{code}}, success={% if type == 'None' -%}None
                                        {%- elif type.startswith('Union[') and type.endswith(']') -%}
                                            {%- set instantiable_type = type[6:-1].split(',')[0] -%}
                                            {%- if instantiable_type.startswith('list[') and instantiable_type.endswith(']') -%}
                                                [ModelFactory.{{instantiable_type[5:-1]}}_from_dict(e) for e in await resp.json()]
                                            {%- else -%}
                                                ModelFactory.{{instantiable_type}}_from_dict(await resp.json())
                                            {%- endif -%}
                                        {%- elif type.startswith('list[') and type.endswith(']') -%}
                                            [ModelFactory.{{type[5:-1]}}_from_dict(e) for e in await resp.json()]
                                        {%- else -%}
                                            ModelFactory.{{type}}_from_dict(await resp.json())
                                        {%- endif -%})
            {%- endfor %}
            {%- for code, type in operation.responses_error.items() %}
            if resp.status == {{code}}:
                return Maybe[{{' | '.join(operation.responses_success.values()) if operation.responses_success else None}}, {{' | '.join(operation.responses_error.values()) if operation.responses_error else None}}]
                {%- if True -%}{%- endif -%}
                (code={{code}}, error={% if type == 'None' -%}None
                                      {%- elif type.startswith('Union[') and type.endswith(']') -%}
                                          {%- set instantiable_type = type[6:-1].split(',')[0] -%}
                                          {%- if instantiable_type.startswith('list[') and instantiable_type.endswith(']') -%}
                                              [ModelFactory.{{instantiable_type[5:-1]}}_from_dict(e) for e in await resp.json()]
                                          {%- else -%}
                                              ModelFactory.{{instantiable_type}}_from_dict(await resp.json())
                                          {%- endif -%}
                                      {%- elif type.startswith('list[') and type.endswith(']') -%}
                                          [ModelFactory.{{type[5:-1]}}_from_dict(e) for e in await resp.json()]
                                      {%- else -%}
                                          ModelFactory.{{type}}_from_dict(await resp.json())
                                      {%- endif -%})
            {%- endfor %}
            raise aiohttp.ClientResponseError(resp.request_info, resp.history, status=resp.status, message=resp.reason, headers=resp.headers)
{% endfor %}

{% endfor %}

class ClientSession(aiohttp.ClientSession):
    def __init__(self, server_url: str, *args, **kwargs):
        super().__init__(*args, **kwargs)
        {% for module in modules -%}
        self.{{module}}: {{module.capitalize()}}Module = {{module.capitalize()}}Module(self, server_url)
        {% endfor %}

{% for server in servers %}
def get{% if server.name %}_{{server.name}}{% endif %}_session(server_url: str, *args, **kwargs) -> ClientSession:
    return ClientSession(server_url, *args, **kwargs)
{% endfor %}
